.container{
    border: 1px solid gray;
    padding: 0 15px;

}
.container:hover{
    background-color: rgba(197, 195, 195, 0.99);
}

.title{
    font-size: 16px;
    font-weight: bold;
}

.label{
    margin: 0 3px;
    padding:1px 5px;
    border: 1px solid gray;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
}